/* colors
burgers #ee1d23
chips #9e0b10
fries #000000
souvlaki #670000
tenders #f05124
seafood #00afef

toDO
- double border under nav, half of header
https://codepen.io/Nuke66/pen/zaJqaW


*/
h1{
    font-size: 50px;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
}

p{
    font-size: 16px;
    padding:0;
    margin: 0;
}

body {
    background-color: #c6401b;
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arsenal';
}

main {
    width: 85%;
    max-width: 1200px;
    background-color: #ffffff;
}

header {

    border-bottom: 4px solid black;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {

    height: 80%;
    width: fit-content;
}

nav {

    padding: 10px 0;
    display: flex;
    align-items: center;
    height: 50px;
}


nav ul {
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;

}
 
nav li {
    margin: 10px;

}

nav a {
    color: #c5171b;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}

nav a:hover {
    color: black;
    border-bottom: 3px solid black;
}


img {
    max-height: 100%;
    max-width: 100%; 
    display: block; 
    height: auto;

}

.carousel {
    margin: 20px 0;
    width: 85%;
    height: 400px;
    position: relative;
    overflow: hidden;

    border: 2px solid black;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: 3s;
    background-color: black;
}

/* set first item to display */
.carousel-item:nth-child(1) {
    left: 0;
  }
 
section {
    display: flex;
    justify-content: center;
}

.burgers {
    background-color: #ee1d23;
    color: white;
}

.food-item {
    width: 95%;
    border: 3px dotted black;
    padding: 20px;
}

.food-item-header {
    width: 75%;
    border: 1px red;
    border-bottom: 3px dotted white;

}

.food-item-indiv-outer {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.food-item-indiv-outer-desc {
    display: flex;
    flex-direction: column;
    align-items: left;
}
/*
food-item-indiv-name
food-item-indiv-price
food-item-indiv-outer-desc
food-item-indiv-desc
food-item-indiv-snack
*/