/* colors
burgers #ee1d23
chips #9e0b10
fries #000000
souvlaki #670000
tenders #f05124
seafood #00afef
*/

body {
    background-color: #c6401b;
    font-family: 'Oswald';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-size: 55px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 0 5px 0;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

h5 {
    color: white;
    font-size: 55px;
    padding: 0;
    margin: 0;
}

p{
    font-size: 18px;
    padding:0;
    margin: 0;
}

b {
    font-weight: 700;
}



main {
    width: 85%;
    max-width: 1200px;
    background-color: #ffffff;
    padding-bottom: 20px;
}

header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.HdblBorder {  
    position: relative;
}

.HdblBorder:before {
    content: '';
    border-bottom: solid 3px black;
    width: 40%;
    height: 100%;
    position: absolute;
    bottom: -2px;
    right: 0;
}

.HdblBorder:after {
    content: '';
    border-bottom: solid 1px black;
    width: 40%;
    height: 100%;
    position: absolute;
    bottom: -5px;
    right: 0;
}


.logo {
    height: 100px;
    padding-top: 40px;
}


nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    height: 50px;
}


nav ul {
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;

}
 
nav li {
    margin: 10px;

}

nav a {
    color: #c5171b;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}

nav a:hover {
    color: black;
    border-bottom: 3px solid black;
}


img {
    max-height: 100%;
    max-width: 100%; 
    display: block; 
    height: auto;
}

.carousel {
    margin: 50px 0;
    width: 85%;
    height: 400px;
    position: relative;
    overflow: hidden;

    border: 2px solid black;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: 3s;
    background-color: black;
}

/* set first item to display */
.carousel-item:nth-child(1) {
    left: 0;
  }
 
section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.food-item {
    width: 90%;
    border: 3px dotted black;
    padding: 0 20px 0 20px;
    margin-top:20px;
    border-radius: 10px;
}

.food-item-indiv-outer {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid white;
    padding-bottom: 0px;
}


.burgers {
    background-color: #ee1d23;
    color: white;

}
.souvlaki {
    background-color: #670000;
    color: white;
}

.tenders {
    background-color: #f05124;
    color: white;
}

.chips {
    background-color: #9e0b10;
    color: white;
}

.seafood, .fish {
    background-color:  #00afef;
    color: white;
}

.dblBorder {
    position: relative;
    border-bottom: 3px solid white;
    border-top: 2px dotted white;
    width: 100%;
}

.dblBorder:after {
    content: '';
    border-bottom: solid 1px white;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -6px;
    left: 0;
}


.food-item-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.food-item-header-chick {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.fries-circle-outer {
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 1;
}

.fries-circle-inner-chick {
    position: absolute;
    top: -40px;
    right: 0;
}

.fries-circle-inner {
    position: absolute;
    top: -10px;
    right: 0;
}

.burger-addon {
    border: 2px dotted white;
    padding: 5px;
    margin-bottom: 10px;
}


.food-item-header-souva {
    border: 1px solid green;
    position: relative;
}

/*
.souva-title {
    z-index: 10;
}
*/

.gluten-free-souva {
    margin-top: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;

    position: absolute;
    top: -10px;
    left: 550px;
}

.gluten-free-souva-text {
    color: black;
    width: 70px;
    transform: rotate(15deg);
    padding: 15px 0 0 15px;
}

.gluten-free-souva-price {
    color: black;
    width: 70px;
    transform: rotate(15deg);
    text-align: center;
}

.check-souva {
    color: black;
    font-size: 70px;
    transform: rotate(15deg);
    position: absolute;
    top: 40px;
    left: 5px;
}

.double-souva {
    width: 150px;
    height: 45px;
    background-color: #CB7817;
    border-radius: 20px;
    padding: 5px;
    margin-top: 25px;

    position: absolute;
    top: 0;
    left: 750px;
}

.double-souva-text {
    font-size: 20px;
    text-align: center;
}

.star-souva {
    color: white;
    position: absolute;
    top: -10px;
    left: -15px;
    transform: rotate(-30deg);
    font-size: 30px;
}

.bacon {
    border: none;
}

.food-item-indiv-outer-desc {
    width: 40%;
}

.food-item-indiv-name { 
    width: 35%;
}

.food-item-indiv-name h2 {
    padding: 0;
    margin: 0;
}

.food-item-indiv-price { 
    width: 10%; 
    text-align: right;
}

.chips .food-item-indiv-name {
    width: 55%;
}

.chips .food-item-indiv-price {
    width: 40%;
    text-align: left;
}

.burgers-beef .food-item-indiv-outer:last-child,
.burgers-chicken .food-item-indiv-outer:nth-last-child(2),
.souvlaki .food-item-indiv-outer:last-child,
.tortilla .food-item-indiv-outer:last-child,
.tenders .food-item-indiv-outer:last-child,
.chips .food-item-indiv-outer:last-child,
.atomic .food-item-indiv-outer:last-child,
.seafood .food-item-indiv-outer:last-child,
.fish .food-item-indiv-outer{
    border-bottom: none;
}


.epic-burger-outer {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.epic-burger-outer .food-item-indiv-name {
    padding-top: 10px;
    width: 100%;
}

.epic-burger {
    border: 2px dotted white;
    margin-top: 10px;
    padding: 10px 20px;
    width: 230px;
    text-align: center;
}

.burgers-footer {
    border: 1px dotted white;
}


.tortilla .dblBorder,
.salads .dblBorder  {
    border-bottom-color: black;
    border-top-color: black;
}

.tortilla .dblBorder:after,
.tortilla .food-item-indiv-outer,
.salads .dblBorder:after {
    border-bottom-color: black;
}

.chips, .seafood {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.atomic {
    background-color: black;
    color: white;
    border-top: 5px solid white;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.atomic .food-item-indiv-name {
    width: 25%;
}

.salads-col {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.salads .food-item-indiv-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.salads .food-item-indiv-name,
.salads .food-item-indiv-price,
.salads .food-item-indiv-outer-desc,
.fish .food-item-indiv-name,
.fish .food-item-indiv-price,
.fish .food-item-indiv-outer-desc { 
    width: 100%;
    text-align: left;
    padding: 0;

}

.salads .food-item-indiv-outer-desc {

    height: 35%;
}

.fish {
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.fish-col {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.fish-col .food-item-indiv-outer {
    width: 20%;
}

.friends {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3;
    column-gap: 180px;
    width: 80%;
}

.fish-bottom {
    border-top: none;
    width: 100%;
    margin: 20px 0 20px 0;
}



footer {
    background-color: black;
    height: 100px;
    width: 100%;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    transform: rotate(-35deg);
}

.right{
    transform: rotate(35deg);
}

footer h3 {
    color: white;
}


